*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
}

header {
  background-color: #e3655b;
  width: 100%;
  height: 50px;
  text-align: center;
}

header a {
  text-decoration: none;
  align-items: center;
  margin: 20px 10px;
  color: white;
  font-weight: 700px;
}
